*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(31, 31, 31);
}
.main{
    width: 100%;
    min-height: 100vh;
    color: rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    flex: 1 0 90%;
    text-align: center;
    background-color: chocolate;
    margin-bottom: 1%;
    padding-top: 10px;
}
.canvas{
    height: 80vh;
    width: 80vh;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    flex: 0 1 auto;
    margin-left: 7%;
    margin-right: 7%;
}
.pixels{
    background-color: white;
}
.options{
    flex: 1 0 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
}

.clear,.erase,select{
    border-style: none;
    padding: 5px 3%;
    border-radius: 20px;
    background-color: chocolate;
    font-size: 1rem;
    font-weight: 700;
    color: cornsilk;
    flex: 0 1 auto;
}
.size{
    flex: 0 0 20%;
}
input{
    background-color: chocolate;
    border-style: none;
    border-radius: 5px;
}